@model List<ResultProductDto>

<section class="food_section layout_padding-bottom">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Öne Çıkan Ürünlerimiz
            </h2>
        </div>

        <ul class="filters_menu">
            <li class="active" data-filter="*" onclick="filterProducts('*')">Tümü</li>
            <li data-filter=".burger" onclick="filterProducts('burger')">Burger</li>
            <li data-filter=".pizza" onclick="filterProducts('pizza')">Pizza</li>
            <li data-filter=".pasta" onclick="filterProducts('pasta')">Makarna</li>
            <li data-filter=".desserts" onclick="filterProducts('fries')">Tatlılar</li>
        </ul>

        <div class="filters-content">
            <div class="row grid">
                @{
                    var counter = 0;
                }
                @foreach (var item in Model)
                {
                    string categoryClass = "";
                    switch (item.CategoryID)
                    {
                        case 1:
                            categoryClass = "burger";
                            break;
                        case 2:
                            categoryClass = "pizza";
                            break;
                        case 3:
                            categoryClass = "pasta";
                            break;
                        case 4:
                            categoryClass = "fries";
                            break;
                        case 5:
                            categoryClass = "salads";
                            break;
                        case 6:
                            categoryClass = "drinks";
                            break;
                        case 7:
                            categoryClass = "desserts";
                            break;
                        default:
                            categoryClass = "";
                            break;
                    }
                    if (counter < 6)
                    {
                        <div class="col-sm-6 col-lg-4 all @categoryClass">
                            <div class="box">
                                <div>
                                    <div class="img-box">
                                        <img src="@item.ImageUrl" alt="">
                                    </div>
                                    <div class="detail-box">
                                        <h5>
                                            @item.ProductName
                                        </h5>
                                        <p>
                                            @item.Description
                                        </p>
                                        <div class="options">
                                            <h6>
                                                @item.Price ₺
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        counter++;
                    }
                }
            </div>
        </div>
        <div class="btn-box">
            <a href="/Menu/Index">
                Daha Fazlasını Görüntüle
            </a>
        </div>
    </div>
</section>

<script>
    function filterProducts(category) {
        var allProducts = document.querySelectorAll('.filters-content .all');
        allProducts.forEach(function (product) {
            if (category === '*' || product.classList.contains(category)) {
                product.style.display = 'block';
            } else {
                product.style.display = 'none';
            }
        });
    }
</script>